**.orig
.DS_Store
npm-debug.log

# Rails
/rails/log
log
/rails/tmp
coverage
config/local_env.yml
config/initializers/capistrano_server.rb
db/seeds/users/educators.seeds.rb


# Don't check in compiled assets
volumes/webpack_build/*
rails/public/webpack_build/*

# Don't check in deployment configuration (nothing sensitive anyway)
aws/config.sh
