**.orig
.DS_Store
npm-debug.log
/log
/tmp
/sketch
/data
coverage
config/local_env.yml
config/initializers/capistrano_server.rb
db/seeds/users/educators.seeds.rb
node_modules

# Don't check in compiled assets
webpack/dist_dev/*
public/assets/webpack-dist/*

## Environment normalisation:
/.bundle
# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc